<div fxFlex="grow" fxLayout="row" fxLayoutAlign="center center">
    <md-card>
        <md-card-title>Entrar al Sistema</md-card-title>
        <md-card-subtitle>Ingrese sus datos</md-card-subtitle>
        <md-card-content>
            <div>
                <md-input-container>
                    <input mdInput type="email" name="email" [(ngModel)]="logIn.email" placeholder="Correo Electrónico">
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input mdInput type="password" [(ngModel)]="logIn.password" placeholder="Contraseña">
                </md-input-container>
            </div>
            <div>{{ loginErrorMsg }}</div>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary" (click)="login()">ENTRAR</button>
        </md-card-actions>
    </md-card>
</div>