<div fxLayout="row">
    <md-toolbar class="main-toolbar margin-bottom-10">
        <img src="/assets/Cannabis_leaf.svg" width="32" height="32" alt="Kiwi standing on oval">
        <span class="padding-left-5">Follow My Grow 1.0!</span>
        <span fxFlex></span>
        <a md-raised-button class="margin-right-5" routerLink="/log-in" *ngIf="!(user | async)">INICIAR SESIÓN</a>
        <a md-raised-button color="warn" routerLink="/sign-up" *ngIf="!(user | async)">CREAR UNA CUENTA</a>
        <a md-raised-button color="primary" routerLink="/main/profile" *ngIf="user | async">PERFIL</a>
        <a md-raised-button (click)="logOut()" *ngIf="user | async">CERRAR SESIÓN</a>
    </md-toolbar>
</div>
<router-outlet></router-outlet>
<app-string-crud></app-string-crud>